<!DOCTYPE html>
<html lang="en">
<head>
  <title>home-{{ school }} </title>
  <link rel="stylesheet" href="/static/homePage/home.css">
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="nav-data1"> 
        {{ school }}
      </div>
      <div class="nav-data2">
        
        <p class="a1" style='margin-left:auto;'> 
          <a href="#">home</a>
        </p>
        
        <p class="a1">
          <a href="#">Anouncements</a>
        </p>
        
        <p class="a1">
          <a href="#">Branches</a>
        </p>
        
        <p class="a1"> 
          <a href="#">Teachers</a>
        </p>
        
        <p class="a1" style='margin-right: 10px;'> 
          <a href="#">complaints</a>
        </p>
      </div>
    </nav>
  </header>
</body>
</html>